{% extends 'base.html' %}

<!--Row -->



{% block content %}

<div>
    <button id="btn">screenshot</button>
</div>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>
<script>
    window.onload = function () {
        console.log("Window is loaded")
        document.getElementById('btn').addEventListener("click", function () {
            html2canvas(document.getElementById('test')).then(function (canvas) {
                document.body.appendChild(canvas);
                var imgdata = canvas.toDataURL("image/jpg");
                var doc = new jspdf.jsPDF();
                doc.addImage(imgdata, "JPG", 10, 10);
                doc.save("sample.pdf");
            });
        })
    }
</script>


<h2>A Violent Incident</h2>

<table id="test" class="table table-striped table-hover table-bordered">
  <tbody>
      <tr>
        <td><div class="span12" style="text-align:center">
          <a href="{%  url 'step1'  %}">
          <button class="wrap_button">A Violent Incident</button>
          </a>
        </div></td>
  </tbody>


  {% if form1 %}
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form1 %}
          <a href="{% url 'form_view' f.id %}">
           {% endfor %}
           <button class="wrap_button">View</button>
          </a>
        </div></td>
      </tr>
  </tbody>
  {% endif %}



{% if form1 %}
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form1 %}
          <a href="{% url 'editpost' f.id %}">
           {% endfor %}
           <button class="wrap_button">Update</button>
          </a>
        </div></td>
      </tr>
  </tbody>


  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form1 %}
          <a href="{% url 'delete-post' f.id %}">
          {% endfor %}
           <button class="wrap_button" >Delete</button>
          </a>
        </div></td>
  </tbody>

    <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form1 %}
          <a href="{% url 'pdf-viewer1' %}">
            {% endfor %}
           <button class="wrap_button" >PDF View and Download</button>
          </a>
        </div></td>
  </tbody>



{% else %}
{% endif %}
</table>


<div>
  <a href="{% url 'user-homepage' %}" >
  <button type="back_button" style="text-align:left" class="btn btn-dark btn-circle btn-sm" >Back to All Forms</button>
</div>


{% endblock %}






